$fill-color: #000;

.skull-vector {
  width: 420px;
  height: 420px;
  max-width: 100%;
  height: auto;
  max-height: 100%;

  .skull-fill {
    fill: $fill-color;
  }
  
  .eye {
    fill: black;
    
    &--right {
      fill: #666;
      animation: blinker 1s infinite alternate-reverse;
    }
    
    &--left {
      transition: all .5s;
      
      &:hover {
        transform: scale(.75);
      }
    }
  }
  
  .nose {
    stroke: $fill-color;
    stroke-width: 1;
  }
  
  .skull-2 {
    fill: none;
    stroke-width: 1;
    stroke: $fill-color;
  }
  
  .teeth {
    stroke: $fill-color;
    stroke-width: 1;
  }
  
  .blood-drop {
    stroke: red;
    stroke-width: .5;
  }
}

@keyframes blinker {
  from {
    fill: #000;
  }
  to {
    fill: #666;
  }
}

